extends ./layout.pug

block content
  form(class="center")
    h2 Dish
    div(class="form-row align-dish-row1")
      div(class="form-group col-md-2")
        label(for='name') Name
        input(type='text' id='name' class="form-control" placeholder='Name')
      div(class="form-group col-md-2")
        label(for='ingredient') Ingredient
        select(id='ingredient' class="form-control")
          option(selected) Choose...
          option ...
      div(class="form-group col-md-1")
        label(for='amount') Amount
        input(type='text' id='amount' class="form-control" placeholder=0)
      div(class="form-group col-md-1")
        label(for='cals') Calories
        input(type='text' id='cals' class="form-control" placeholder=0)
      div(class="form-group col-md-1")
        label(for='fat') Fat
        input(type='text' id='fat' class="form-control" placeholder=0)
      div(class="form-group col-md-1")
        label(for='carbs') Carbs
        input(type='text' id='carbs' class="form-control" placeholder=0)
      div(class="form-group col-md-1")
        label(for='protein') Protein
        input(type='text' id='protein' class="form-control" placeholder=0)
    br
    div
      button(class="btn btn-dark") Add Dish