nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
  div(class="collapse navbar-collapse justify-content-between")
    ul(class="navbar-nav mr-auto")
      li(class="nav-item dropdown")
        a(class="nav-link" href="#" id="navdrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
          span(class="navbar-toggler-icon")
        div(class="dropdown-menu" aria-labelledby="navdrop")
          a(class="dropdown-item" href="./") Today's Count
          a(class="dropdown-item" href="./ingredient") Manage Ingredients
          a(class="dropdown-item" href="./dish") Manage Dishes